{% extends "base.html" %}


{% block content %}
<div class="row" style="height: 100vh;">
    <div class="col-5 p-3" style="background-color: cornsilk;">
        <table>
            <form action="" method="POST" class="post-form" enctype="multipart/form-data">

                <tr>
                    <td></td>
                    <td><input type="submit" value="Submit" name='submit'></td>
                </tr>

            </form>
        </table>
    </div>


    <div class="col-7 p-3" style="background-color: floralwhite;">
        <h1 class="p-2"><b>Tired of checking the COWIN website?</b></h1>
        <h2 class="p-2"> Relax! We got you!</h2>
        <br>
        <p class="p-2">Enter your phone number and pincode and we will notify you when vaccines arrive in your area!
            EASY!</p>


    </div>
</div>

{% endblock content %}