{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-6 p-3" style="background-color: floralwhite;">
        <h1 class="p-2"><b>Tired of checking the COWIN website?</b></h1>
        <h2 class="p-2"> Relax! We got you!</h2>
        <br>
        <p class="p-2">Enter your phone number and pincode and we will notify you when vaccines arrive in your area!
            EASY!</p>


    </div>

    <div class="col-4 p-3" style="background-color: cornsilk;">

        <form action="" method="POST" class="form_group p-5" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}

            <input type="submit" value="Submit" name='submit'>

    </div>



</div>

{% endblock content %}